Source: ffmpeg-debian
Section: libs
Priority: optional
Maintainer: Debian multimedia packages maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Sam Hocevar (Debian packages) <sam+deb@zoy.org>,
           Loic Minier <lool@dooz.org>,
           Reinhard Tartler <siretart@tauware.de>,
           Fabian Greffrath <fabian@debian-unofficial.org>,
           Andres Mejia <mcitadel@gmail.com>
DM-Upload-Allowed: yes
Standards-Version: 3.8.2
Vcs-Git: git://git.debian.org/git/pkg-multimedia/ffmpeg-debian.git
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/ffmpeg-debian.git;a=summary
Homepage: http://ffmpeg.org/
Build-Depends-Indep: doxygen
Build-Depends: debhelper (>= 6.0.7~),
               libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
               libdc1394-22-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
               libfaad-dev | libfaad2-dev,
               libfreetype6-dev,
               libgsm1-dev,
               libimlib2-dev,
               libraw1394-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
               libsdl1.2-dev,
               libschroedinger-dev,
               libspeex-dev,
               libtheora-dev (>> 0.0.0.alpha4),
               libvorbis-dev,
               libopenjpeg-dev,
               libx11-dev,
               libxext-dev,
               libxvmc-dev,
               quilt,
               texi2html,
               zlib1g-dev,
               libxvmc-dev,
               libbz2-dev

Package: ffmpeg
Section: video
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: multimedia player, server and encoder
 This package contains the ffplay multimedia player, the ffserver streaming
 server and the ffmpeg audio and video encoder. They support most existing
 file formats (AVI, MPEG, OGG, Matroska, ASF...) and encoding formats (MPEG,
 DivX, MPEG4, AC3, DV...).

Package: ffmpeg-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libavutil49 (= ${binary:Version}),
         libavcodec52 (= ${binary:Version}),
         libavdevice52 (= ${binary:Version}),
         libpostproc51 (= ${binary:Version}),
         libavformat52 (= ${binary:Version}),
         libswscale0 (= ${binary:Version}),
         ffmpeg (= ${binary:Version})
Description: Debug symbols for ffmpeg related packages
 This package contains debug data of the ffmpeg related shared libraries.
 .
 Most people will not need this package. Please install it to produce useful
 stacktraces to help debugging the ffmpeg library.

Package: ffmpeg-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation of the ffmpeg API
 This package contains the html doxygen documentation of the ffmpeg API.

Package: libavutil49
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: ffmpeg utility library
 This is the common utility library from the ffmpeg project. It is required
 by all other ffmpeg libraries.
 .
 This package contains a Debian-specific version of the libavutil shared
 object that should only be used by Debian packages.

Package: libavcodec52
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: ffmpeg codec library
 This is the codec library from the ffmpeg project. It supports most existing
 encoding formats (MPEG, DivX, MPEG4, AC3, DV...).
 .
 This package contains a Debian-specific version of the libavcodec shared
 object that should only be used by Debian packages.

Package: libavdevice52
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: ffmpeg device handling library
 This is the device handling library from the ffmpeg project.
 .
 This package contains a Debian-specific version of the libavdevice shared
 object that should only be used by Debian packages.

Package: libavformat52
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Breaks: libavcodec51 (<< 3:0.svn20090303-1)
Description: ffmpeg file format library
 This is the demuxer library from the ffmpeg project. It supports most
 existing file formats (AVI, MPEG, OGG, Matroska, ASF...).
 .
 This package contains a Debian-specific version of the libavformat shared
 object that should only be used by Debian packages.

Package: libavfilter0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: ffmpeg video filtering library
 This is the video filtering library from the ffmpeg project.
 .
 This package contains a Debian-specific version of the libavfilter shared
 object that should only be used by Debian packages.

Package: libpostproc51
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: ffmpeg video postprocessing library
 This is the video postprocessing library from the ffmpeg project.
 .
 This package contains a Debian-specific version of the libpostproc shared
 object that should only be used by Debian packages.

Package: libswscale0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: ffmpeg video scaling library
 This is the video scaling library from the ffmpeg project.
 .
 This package contains a Debian-specific version of the libswscale shared
 object that should only be used by Debian packages.

Package: libavutil-dev
Section: libdevel
Architecture: any
Depends: libavutil49 (>= ${binary:Version}) | libavutil-unstripped-49 (>= ${binary:Version}),
         libavutil49 (<= ${source:Upstream-Version}-99) | libavutil-unstripped-49 (<= ${source:Upstream-Version}-99)
Description: development files for libavutil
 This is the common utility library from the ffmpeg project. It is required
 by all other ffmpeg libraries.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavutil.

Package: libavcodec-dev
Section: libdevel
Architecture: any
Depends: libavcodec52 (>= ${binary:Version}) | libavcodec-unstripped-52 (>= ${binary:Version}),
         libavcodec52 (<= ${source:Upstream-Version}-99) | libavcodec-unstripped-52 (<= ${source:Upstream-Version}-99),
         libavutil-dev (= ${binary:Version})
Suggests: libfaad-dev,
          libgsm1-dev,
          libogg-dev,
          libschroedinger-dev,
          libspeex-dev,
          libtheora-dev (>> 0.0.0.alpha4),
          libvorbis-dev,
          libx11-dev,
          libxext-dev,
          zlib1g-dev,
          ${lib1394-dev}
Description: development files for libavcodec
 This is the codec library from the ffmpeg project. It supports most existing
 encoding formats (MPEG, DivX, MPEG4, AC3, DV...).
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavcodec.

Package: libavdevice-dev
Section: libdevel
Architecture: any
Depends: libavdevice52 (>= ${binary:Version}) | libavdevice-unstripped-52 (>= ${binary:Version}),
         libavdevice52 (<= ${source:Upstream-Version}-99) | libavdevice-unstripped-52 (<= ${source:Upstream-Version}-99),
         libavformat-dev (= ${binary:Version})
Description: development files for libavdevice
 This is the device handling library from the ffmpeg project.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavdevice.

Package: libavformat-dev
Section: libdevel
Architecture: any
Depends: libavformat52 (>= ${binary:Version}) | libavformat-unstripped-52 (>= ${binary:Version}),
         libavformat52 (<= ${source:Upstream-Version}-99) | libavformat-unstripped-52 (<= ${source:Upstream-Version}-99),
         libavcodec-dev (= ${binary:Version})
Description: development files for libavformat
 This is the demuxer library from the ffmpeg project. It supports most
 existing file formats (AVI, MPEG, OGG, Matroska, ASF...).
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavformat.

Package: libavfilter-dev
Section: libdevel
Architecture: any
Depends: libavfilter0 (>= ${binary:Version}) | libavfilter-unstripped-0 (>= ${binary:Version}),
         libavfilter0 (<= ${source:Upstream-Version}-99) | libavfilter-unstripped-0 (<= ${source:Upstream-Version}-99),
         libavcodec-dev (= ${binary:Version})
Description: development files for libavfilter
 This is the video filtering library from the ffmpeg project.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavfilter.

Package: libpostproc-dev
Section: libdevel
Architecture: any
Depends: libpostproc51 (>= ${binary:Version}) | libpostproc-unstripped-51 (>= ${binary:Version}),
         libpostproc51 (<= ${source:Upstream-Version}-99) | libpostproc-unstripped-51 (<= ${source:Upstream-Version}-99),
         libavutil-dev (= ${binary:Version})
Description: development files for libpostproc
 This is the video postprocessing library from the ffmpeg project.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libpostproc.

Package: libswscale-dev
Section: libdevel
Architecture: any
Depends: libswscale0 (>= ${binary:Version}) | libswscale-unstripped-0 (>= ${binary:Version}),
         libswscale0 (<= ${source:Upstream-Version}-99) | libswscale-unstripped-0 (<= ${source:Upstream-Version}-99),
         libavutil-dev (= ${binary:Version})
Description: development files for libswscale
 This is the video scaling library from the ffmpeg project.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libswscale.
