#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

DEB_SOURCE := $(shell dpkg-parsechangelog | sed -n 's/^Source: //p')
DEB_VERSION := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')
UPSTREAM_VERSION := $(shell echo $(DEB_VERSION) | sed -r 's/[^:]+://; s/-[^-]+$$//')
SVN_VERSION := $(shell echo $(UPSTREAM_VERSION) | sed -nr 's/^[0-9.:-]+\.svn([0-9]+)$$/\1/p')
SHLIBS_VERSION := 3:0.svn20081101-1
ubuntu := $(findstring ubuntu,$(DEB_VERSION))

LIB_PKGS := $(shell sed -nr 's/^Package:[[:space:]]*(lib(avutil|avcodec|avdevice|avformat|avfilter|postproc|swscale)(-unstripped-)?[0-9]+)[[:space:]]*$$/\1/p' debian/control)

# we don't need to strip if we are not building the package ffmpeg-debian
ifneq ($(DEB_SOURCE),ffmpeg-debian)
DEB_BUILD_OPTIONS += ,internalencoders
endif

internalencoders := $(findstring internalencoders,$(DEB_BUILD_OPTIONS))

include debian/confflags

debian/control: debian/changelog $(wildcard debian/control.*)
	dh_testdir
	dpkg-parsechangelog | head -1 > $@
	cat debian/control.common >> $@
	cat debian/control.$(DEB_SOURCE) >> $@

$(info FLAVORS = $(FLAVORS))
$(info DEB_BUILD_OPTIONS = $(DEB_BUILD_OPTIONS))
$(info CFLAGS = $(CFLAGS))
$(info internalencoders = $(internalencoders))

config-extra-includes.h:
	sh debian/fixup-config.sh > $@

configure-%: configure-stamp-%
configure-stamp-%: $(QUILT_STAMPFN) config-extra-includes.h
	dh_testdir
	mkdir -p debian-$*
	cd debian-$* && CFLAGS="$(CFLAGS)" $(CURDIR)/configure $($*_build_confflags)
ifeq ($(internalencoders),)
	echo "#include \"config-extra-includes.h\"" >> debian-$*/config.h
endif
	touch $@

build-%: build-stamp-%
build-stamp-%: configure-stamp-%
	dh_testdir
	$(MAKE) -C debian-$* -j $(NJOBS)
	touch $@

debian-shared/tools/qt-faststart: build-stamp-shared
	$(MAKE) -C debian-shared tools/qt-faststart

build-doxy: build-doxy-stamp
build-doxy-stamp: $(QUILT_STAMPFN)
	dh_testdir
	doxygen
	touch $@

build: build-stamp
build-stamp: $(addprefix build-stamp-, $(FLAVORS)) debian-shared/tools/qt-faststart
	touch $@

clean: clean-real unpatch
clean-real:
	dh_testdir
	dh_testroot
	rm -f build-stamp $(addprefix build-stamp-, $(FLAVORS)) \
	    $(addprefix configure-stamp-, $(FLAVORS)) patch-stamp
	rm -rf $(addprefix debian-, $(FLAVORS)) doxy
	dh_clean config-extra-includes.h debian/tmp.debhelper.log
	dh_clean formats.txt

get-orig-source:
	dh_testdir
	# strip patented code
	chmod +x debian/strip.sh
	sh debian/get-orig-source.sh -d$(SVN_VERSION)

# The trailing newline is important!
define install_flavor
	$(MAKE) -C debian-$(1) install DESTDIR=$(CURDIR)/debian/tmp \
	    mandir=$(CURDIR)/debian/tmp/usr/share/man

endef

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -ptmp usr/share/doc/ffmpeg/html etc
	dh_installdirs -ptmp usr/share/doc/ffmpeg-doc/html
	$(foreach flavor,$(FLAVORS),$(call install_flavor,$(flavor)))
	cp -a libavcodec/dsputil.h debian/tmp/usr/include/libavcodec
	cp debian-shared/doc/*.html debian/tmp/usr/share/doc/ffmpeg/html/
	# don't fail on binary-indep only builds.
	[ ! -d doxy ] || cp doxy/html/* debian/tmp/usr/share/doc/ffmpeg-doc/html
	cp doc/ffserver.conf debian/tmp/etc/
	cp debian-shared/tools/qt-faststart debian/tmp/usr/bin/qt-faststart
ifneq ($(DEB_SOURCE),ffmpeg-debian)
	dh_install --list-missing --sourcedir=debian/tmp
else
	dh_install --fail-missing --sourcedir=debian/tmp
endif

formats.txt: install
	env LD_LIBRARY_PATH="$(LD_LIBRARY_PATH):$(CURDIR)/debian/tmp/usr/lib" \
	debian/tmp/usr/bin/ffmpeg -formats | tee $@

ifneq ($(DEB_SOURCE),ffmpeg-debian)
binary-indep: install
else
binary-indep: build-doxy install
endif

binary-arch: build install formats.txt
	dh_testdir
	dh_testroot
	dh_installdocs $(extradoc) doc/optimization.txt
	dh_installdocs -A MAINTAINERS CREDITS doc/TODO
	dh_installdocs -A debian/patents.txt debian/README.Debian
ifeq ($(DEB_SOURCE),ffmpeg)
	dh_installdocs -p libavcodec-unstripped-52 formats.txt
else
	dh_installdocs -p libavcodec52 formats.txt
endif
	dh_installexamples -pffmpeg doc/ffserver.conf debian/recordshow.sh
	dh_installexamples -plibavcodec-dev libavcodec/apiexample.c
	dh_installchangelogs Changelog
	dh_link
ifneq ($(DEB_SOURCE),ffmpeg-debian)
	dh_strip
else
	dh_strip --dbg-package=ffmpeg-dbg
endif
	dh_compress
	dh_fixperms
	dh_installdeb
# strict internal dependencies
ifeq ($(DEB_SOURCE),ffmpeg-debian)
	for pkg in $(LIB_PKGS); do \
	    upkg=$$(echo "$$pkg" | sed -r 's/([0-9]+)$$/-unstripped-\1/'); \
	    dh_makeshlibs -p"$$pkg" -V"$$pkg (>= $(UPSTREAM_VERSION)) | $$upkg (>= $(UPSTREAM_VERSION)), $$pkg (< $(UPSTREAM_VERSION)-99) | $$upkg (< $(UPSTREAM_VERSION)-99)"; \
	done
else
	for pkg in $(LIB_PKGS); do \
	    dh_makeshlibs -p"$$pkg" -V"$$pkg (>= $(UPSTREAM_VERSION)), $$pkg (< $(UPSTREAM_VERSION)-99)"; \
	done
endif
	env LD_LIBRARY_PATH="$(LD_LIBRARY_PATH):$(CURDIR)/debian/tmp/usr/lib" \
	dh_shlibdeps
# target dependencies for external packages
ifeq ($(DEB_SOURCE),ffmpeg-debian)
	for pkg in $(LIB_PKGS); do \
	    upkg=$$(echo "$$pkg" | sed -r 's/([0-9]+)$$/-unstripped-\1/'); \
	    dh_makeshlibs -p"$$pkg" -V"$$pkg (>= $(SHLIBS_VERSION)) | $$upkg (>= $(SHLIBS_VERSION))"; \
	done
else
	for pkg in $(LIB_PKGS); do \
	    dh_makeshlibs -p"$$pkg" -V"$$pkg (>= $(SHLIBS_VERSION))"; \
	done
endif
	dh_gencontrol -- -Vlib1394-dev="$(lib1394-dev)"
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build $(addprefix build-, $(FLAVORS)) build-doxy \
	clean clean-real \
	configure $(addprefix configure-, $(FLAVORS)) \
	binary binary-indep binary-arch \
	install \
	get-orig-source
