#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

#export DH_VERBOSE=1

DEB_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: //p')
SRC_VERSION := $(shell echo $(DEB_VERSION) | cut -d '-' -f 1)
SVN_VERSION := $(shell echo $(SRC_VERSION) | sed -ne 's/^[0-9]\.[a-z]*//p')

LIBS := libavutil libavcodec libpostproc libavformat libavdevice libswscale

include debian/confflags

$(info Building FFmpeg for flavors: $(FLAVORS))
$(info DEB_BUILD_OPTIONS are: $(DEB_BUILD_OPTIONS))
$(info Using as CFLAGS: $(CFLAGS))

config-extra-includes.h:
	sh debian/fixup-config.sh > $@

configure-%: configure-%-stamp
configure-%-stamp: $(QUILT_STAMPFN) config-extra-includes.h
	dh_testdir
	mkdir -p debian-$*
	cd debian-$* && CFLAGS="$(CFLAGS)" ../configure $($*_build_confflags)
ifeq (,$(findstring internalencoders,$(DEB_BUILD_OPTIONS)))
	echo "#include \"config-extra-includes.h\"" >> debian-$*/config.h
endif
	touch $@

build-%: build-%-stamp
build-%-stamp: configure-%-stamp
	dh_testdir
	$(MAKE) -C debian-$* -j $(NJOBS)
	touch $@

debian-shared/tools/qt-faststart: build-shared-stamp
	$(MAKE) -C debian-shared tools/qt-faststart

build-doxy: build-doxy-stamp
build-doxy-stamp: $(QUILT_STAMPFN) 
	dh_testdir
	doxygen
	touch $@

BUILD_STAMPS=$(foreach flavor,$(FLAVORS),build-$(flavor)-stamp)
build: build-stamp
build-stamp: $(BUILD_STAMPS) debian-shared/tools/qt-faststart
	touch $@

clean: clean-real unpatch
clean-real:
	dh_testdir
	dh_testroot
	rm -f build-stamp build-*-stamp configure-*-stamp patch-stamp
	rm -rf $(foreach flavor,$(FLAVORS),debian-$(flavor)) doxy
	dh_clean config-extra-includes.h debian/tmp.debhelper.log

get-orig-source:
	dh_testdir
ifeq (,$(findstring internalencoders,$(DEB_BUILD_OPTIONS)))
        # Disable potentially dangerous patented code
	chmod +x debian/strip.sh
	sh debian/get-orig-source.sh -r{$(SVN_VERSION)} \
	    -c $(CURDIR)/debian/strip.sh \
	    -o ../ffmpeg-debian_$(SRC_VERSION).orig.tar.gz
else
	sh debian/get-orig-source.sh -r{$(SVN_VERSION)} \
	    -o ../ffmpeg_$(SRC_VERSION).orig.tar.gz
endif

define install_flavor
	$(MAKE) -C debian-$(1) install DESTDIR=$(CURDIR)/debian/tmp/ \
	    mandir=$(CURDIR)/debian/tmp/usr/share/man

endef

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -ptmp usr/share/doc/ffmpeg/html etc
	dh_installdirs -ptmp usr/share/doc/ffmpeg-doc/html
	$(foreach flavor,$(FLAVORS),$(call install_flavor,$(flavor)))
	cp -a libavcodec/dsputil.h debian/tmp/usr/include/ffmpeg
	cp debian-shared/doc/*.html debian/tmp/usr/share/doc/ffmpeg/html/
#	dont fail on binary-indep only builds.
	if test -d doxy; then \
		cp doxy/html/* debian/tmp/usr/share/doc/ffmpeg-doc/html/; \
	fi
	cp doc/ffserver.conf debian/tmp/etc/
	cp debian-shared/tools/qt-faststart debian/tmp/usr/bin/qt-faststart
	dh_install --fail-missing --sourcedir=debian/tmp

binary-indep: build-doxy install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs $(extradoc) doc/optimization.txt
	dh_installdocs -A MAINTAINERS CREDITS doc/TODO
	dh_installdocs -A debian/patents.txt debian/README.Debian
	dh_installexamples -pffmpeg doc/ffserver.conf debian/recordshow.sh
	dh_installexamples -plibavcodec-dev libavcodec/apiexample.c
	dh_installchangelogs Changelog
	dh_link
	dh_strip --dbg-package=ffmpeg-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs -V
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol -- -Vlib1394-dev="$(lib1394-dev)"
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build build-shared build-static build-doxy \
	clean clean-real \
	configure configure-shared configure-static \
	binary binary-indep binary-arch \
	install \
	patch
